<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <title>О сайте - Coronavirus web</title>
</head>
<body>
    <header>
        <img src="{% static 'images/header3.png' %}" alt="Icon" id="logo_img">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <p id="title">Статистика коронавируса в России</p>
        <a href="/stats" id="back_link">Назад</a>
    </header>

    <main>
        <div class="text_field" id="info">
            <h1>О сайте</h1>
            <h2>1. Назначение системы</h2>
            <p>Данный сайт предназначен для сбора, анализа и получения пользователями информаци о новой коронавирусной инфекции.</p>
            <p>При входе на сайт открывается главная страница (см. рисунок 1). С помощью кнопок “Сформировать отчет”, “Региональная статистика” и “Информация о сайте” пользователь может переходить к разделам сайта. Также на странице представлена актуальная информация о распространении COVID-19 в виде таблицы. Нажатие кнопки “Скачать данные” скачивает на компьютер пользователя JSON-файл, содержащий данные этой таблицы. Кнопки в футере страницы переводят к страницам разработчика в ВК и GitHub.</p>
            <img src="{% static 'images/info/A1.png' %}">
            <p><i>Рисунок 1 – Главная страница сайта</i></p>
            <h2>2. Аналитические отчеты</h2>
            <p>Нажатие кнопки “Сформировать отчет” на главной странице переводит пользователя на страницу формирования отчета (см. рисунок 2). Здесь пользователь может задать параметры отчета – выбрать регион, даты начала и конца отчетного периода, включить в отчет анализ мер, а также указать почту для отправки отчета. Когда все данные корректно введены – кнопка “Создать отчет” становится доступной к нажатию. Нажатие кнопки скачивает сформированный по указанным параметрам отчет в формате документа Word на компьютер пользователя, а также, если был указан адрес, отправляет отчет на электронную почту. Для возвращения на главную страницу необходимо нажать кнопку “Назад” в шапке страницы.</p>
            <img src="{% static 'images/info/A2.png' %}">
            <p><i>Рисунок 2 – Страница формирования отчета</i></p>
            <h2>3. Региональная статистика</h2>
            <p>Нажатие кнопки “Региональная статистика” на главной странице переводит пользователя на страницу исторической региональной статистики (см. рисунок 3). Здесь пользователь может задать регион и дату. Нажатие кнопки “Получить данные” выдает необходимую информацию в блоке ниже. Для возвращения на главную страницу необходимо нажать кнопку “Назад” в шапке страницы.</p>
            <img src="{% static 'images/info/A3.png' %}">
            <p><i>Рисунок 3 – Страница региональной статистики</i></p>
            <h2>4. Информация о сайте</h2>
            <p>Нажатие кнопки “Региональная статистика” на главной странице переводит пользователя на страницу исторической региональной статистики (см. рисунок 4). Здесь пользователь может ознакомиться со справочной информацией и руководством пользователя (Вы читаете его прямо сейчас. Здравствуй, рекурсия).</p>
            <img src="{% static 'images/info/A4.png' %}">
            <p><i>Рисунок 4 – Страница информации о сайте</i></p>
        </div>
    </main>

    <footer>
        <p>Разработчик:</p>
        <form target="_blank" class="social_media_button" method="get" action="https://vk.com/careful_brainless">
            <button class='dev_link' id="dev_vk"><i class="fa fa-vk"></i></button>
        </form>
        <form target="_blank" class="social_media_button" method="get" action="https://github.com/CarefulBrainless">
            <button class='dev_link' id="dev_github"><i class="fa fa-github"></i></button>
        </form>
    </footer>
</body>
</html>